[Unit]
Description=Running deploy-tool on port 8005
After=network.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt/basic-deploy-tool/
ExecStart=/opt/basic-deploy-tool/.venv/bin/uvicorn main:app --port 8005

[Install]
WantedBy=multi-user.target
