[Unit]
Description=Running deploy-tool on port 8005
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=cd /opt/basic-deploy-tool/; .venv/bin/python -m uvicorn main:app --port 8005

[Install]
WantedBy=multi-user.target
